#dashboardTitle{
    font-weight: bold;
    margin-bottom: 2px;
}

#date-update{
    font-size: 12px;
}


.container{
    margin-right: 5px;
    margin-left: 5px;
}


.dataTables_wrapper .dataTables_length{
    float:left;
    font-weight: lighter;
}

.dataTables_wrapper .dataTables_length select{
    border:1px solid #aaa;
    border-radius:3px;
    padding:5px;
    background-color:transparent;
    padding:4px;
}

.dataTables_filter > label
{
    font-weight:normal !important;
    font-size:15px !important; 
}

.dataTables_length > label
{
    font-weight:normal !important;
    font-size:15px !important; 
}

.dataTables_filter input{
    border:1px solid #aaa;
    border-radius:3px;
    padding:5px;
    background-color:transparent;
    padding:4px;
}

.dataTables_wrapper .dataTables_filter{
    float:right;
    text-align:right;
}